@charset "UTF-8";
@import 'constants';
@import 'animation';

.app {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @import 'common';
  @import 'utils';
  @import 'components';
  @import 'containers';
}
